
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import 'https://fonts.googleapis.com/css?family=Lobster';

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primaryColor: red;


body {
	color: $primaryColor;
}

.utryout {
    font-family: 'Lobster', cursive;
}
